*{
margin:0;
font-family:Arial;
border:border-box;
}
body{
background-color:#e2e7e6;
overflow-y:scroll;
}
.navbar{
height:60px;
background-color:#0f1111;
color:white;
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
}
.nav-logo{
height:50px;
width:100px;
}
.logo{
height:50px;
width:100%;
background-image:url(amazon_logo.png);
background-size:cover;
}
.border{
border:2px solid transparent;
}
.border:hover{
border:2px solid white;
}
.add1{
color:#cccccc;
font-size:0.85rem;
margin-left:15px;
}
.add2{

}
.add-icon{
display:flex;
flex-direction:row;
align-items:center;
}
.nav-address{



}
.nav-search{

height:40px;
background-color:#ffca28;
width:620px;
border-radius:3px;
display:flex;

justify-content:space-evenly;

}
.search-icon{
width:45px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;



}
.search-select{
background-color:#f3f3f3;
border-top-left-radius:3px;
border-bottom-left-radius:3px;
width:50px;
text-align:center;
border:none;
}
.search-input{
width:100%;
font-size:1rem;
border:none;
}
.nav-lang{

display:flex;
flex-direction:row;



}
.select-lang{
background-color:#0f1111;
color:white;
margin-left:-6px;

font-size:14px;
border:none;
font-weight:700;
}
.lang-ico{
background-color:#0f1111;
width:22px;
height:16px;
margin-left:2px;
}
.nav-signin{

}
.one{
font-size:12px;
color:#fffff;
}
.Two{
font-size:14px;
font-weight:700;
color:#fffff;
}
.Accandlis{
display:flex;
flex-direction:row;
}
.select-Acc{
background-color:#0f1111;
width:16px;
color:white;
border:none;
}
.nav-rando{

}
.return{
font-size:12px;
color:#fffff;
}
.order{
font-size:14px;
font-weight:700;
color:#fffff;
}
.cart i{
font-size:30px;
}
.cart{
font-size:14px;
font-weight:700;
color:#fffff;
}
.nav-search:hover{
border:2px gold solid;
}
.nav-bar-2{
height:39px;
background-color:#0f1111e8;
position:relative;
top:0px;
display:flex;
flex-direction:row;
justify-content:start;
align-items:center;
color:#ffffff;
font-size:14px;
font-weight:400;
}
.m-ico{
margin-left:10px;

}
.text1{
margin-left:25px;
}
.text2{
margin-left:25px;
}
.text3{
margin-left:25px;
}
.text4{
margin-left:25px;
}
.text5{
margin-left:25px;
}
.text6{
margin-left:575px;
}
.herosec{
background-image:url(hero_image.jpg);
background-size:cover;
height:360px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:end;
}
.heromsg{
background-color:#f5f6f6;
width:80%;
height:40px;
font-size:14px;
display:flex;
flex-direction:row;
align-items:center;
justify-content:center;
margin-bottom:25px;
}
a{
color:#007185;
text-decoration:none;
}
.box{

margin-top:15px;
padding:20px 0px 15px; 
background-color:white;
height:340px;
width:23%;

}
.shopsec{
display:flex;
flex-direction:row;
justify-content:space-evenly;
}
.boximg{
background-size:cover;
background-repeat:no-repeat;
margin-top:1rem;
margin-botton:1rem;
height:220px;
}
.boxcon{

margin-left:10px;
margin-right:10px;
}
.boxextra{
margin-top:35px;
color:#007185;
}
.navfootertop{
background-color:#0f1111;
color:#ffffff;

display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
font-size:12px;
font-weight:500;
height:50px;
margin-top:10px;
}
.navfootertop:hover{
background-color:#0f1111b5;
}
.navfootermiddle1{
display:flex;
flex-direction:row;
justify-content:space-evenly;
color:white;
background-color:#0f1111f0;
height:365px;
}
pre{
font-size:10px;
color:#ffffff;
margin-top:3px;
}
pre:hover{
text-decoration:underline;
}
h4{
margin-top:10px;
}
.navfootermiddle2{
background-color:#0f1111e8;
height:125px;
color:#ffffff;
display:flex;

flex-direction:row;

align-items:center;
}
.navfooterlogo{
height:47px;
width:84px;
background-image:url(amazon_logo.png);
background-size:cover;
margin-left:300px;
margin-top:-18px;
}
.border2{
text-align:center;
width:150px;
height:25px;
border:1px white solid;
border-radius:2px;
display:flex;
justify-content:center;
align-items:center;
margin-right:4px;

}
.footlangselect{
margin-left:8px;
display:flex;
align-items:center;
justify-content:center;
background-color:#0f111129;
color:white;
border:none;
}
.endfoot{
width:445px;
display:flex;
flex-direction:row;
margin-left:65px;
font-size:13px;
margin-top:-30px;
}
.footlang i{
margin-right:3px;
}
.navfooterend1{
background-color:#0f1111;
height:750px;

color:#FFFFFF;
}
.spansanddiv{
height:100px;
width:50px;
margin-top:30px;

}
.row1{
display:flex;
flex-direction:row;
justify-content:space-evenly;

}
.row2{
display:flex;
flex-direction:row;
justify-content:space-evenly;
}
.row3{
display:flex;
flex-direction:row;
justify-content:space-evenly;

}
.row4{
display:flex;
flex-direction:row;
justify-content:space-evenly;
}
.row5{
display:flex;
flex-direction:row;
justify-content:space-evenly;
}
h5{
font-size:12px;
}
.navfooterend2{
background-color:#0f1111;
color:#ffffff;
height:50px;

margin-top:-90px;
}
.row6{
display:flex;
justify-content:space-evenly;
align-items:center;
width:333px;
margin-left:420px;
font-size:12px;
}
.row7{
margin-left:485px;
font-size:12px;
margin-top:3px;
}


















